<%= form_for @signature, :url => {:action => :save_signature, :controller => :static} do |f| %>
	<p><%= f.label :lastname %><%= f.text_field :lastname %></p>
	<p><%= f.label :firstname %><%= f.text_field :firstname %></p>
	<p><%= f.label :city %><%= f.text_field :city %></p>
	<p><%= f.label :comment %><%= f.text_area :comment %></p>
	<p><%= f.label :anonymous %><%= f.check_box :anonymous %></p>
	<p><%= f.submit t("index.save") %></p>
<% end %>